extends layout.pug

block content
    body.about-container
        section.about-page-header.full-grid.background-image3
            h2.h2.h2--light.h2--U.ml-lg.js--section-features Full proffessional profile 
        section.about-page.full-grid.pd15
            .t-a.mb-x4
                h3.h3 Professional profile
            .about-page--text-box.line-height-25
                p.px18.justify.px5.mb-x2
                | Valrie Grant, MSc, GISP
                | A successful, award-winning entrepreneur and one of the Caribbean&rsquo;s leading exponents of
                | geospatial technologies and location sciences, Valrie Grant is the Managing Director of
                | GeoTechVision, a knowledge services company she founded and built into a reliable and quality
                | provider of a range of customized services and data-driven solutions to regional&nbsp;governments,
                | NGOs&nbsp;and&nbsp;corporate&nbsp; entities.
                | With offices in Jamaica, Guyana and Florida, GeoTechVision&rsquo;s service footprint spans several
                | territories across the Caribbean, and the Company is now expanding into markets in North
                | America, the Pacific and Europe.
                | Since 2008, she has built GeoTechVision into a major player in the growing Geomatics and
                | Geospatial services industry, earning along the way a litany of special recognitions and
                | awards such as the :
                ul.mb-x2.px5
                li
                    p.px18.justify
                    span.gold &starf;
                    |  The Land Information Council of Jamaica GIS Entrepreneur Award (2012)
                li
                    p.px18.justify
                    span.gold &starf;
                    |  The NCB Nation Builder Award for the Woman in Business Category (2013) for innovation, leadership and corporate social responsibility.
                li
                    p.px18.justify
                    span.gold &starf;
                    |  The Caribbean Exporter Award &ndash;Excellence in Services Export (2014),
                li
                    p.px18.justify
                    span.gold &starf;
                    |  The Jamaica Chamber of Commerce (JCC) &ndash;Young Entrepreneur Award (2014) and JCC Best of Chamber, Small Category (2015)
                li
                    p.px18.justify
                    span.gold &starf;
                    |  The Commonwealth Woman Entrepreneur of the Year Award 2015
                li
                    p.px18.justify
                    span.gold &starf;
                    |  The Commonwealth Woman Entrepreneur of the Year Award 2015
                li
                    p.px18.justify
                    span.gold &starf;
                    |  The Georgetown Chamber Commerce &amp; Industry (GCCI) Young Business Executive 2016
                li
                    p.px18.justify
                    span.gold &starf;
                    | The UTech World Class Women Entrepreneur Award 2017.
                p.px18.justify.px5
                | Valrie is a lifelong learner, who is passionate about Technology and Entrepreneurship and
                | relishes every opportunity to mentor women entrepreneurs and young people, and to be a
                | voice for the Caribbean Geospatial industry in the international arena.
                | She sits on several national, regional and international Boards and Committees such as the
                | World Geospatial Industry Council (WGIC), serving as Co-Chair of the United Nations Global
                | Geospatial Information Management (UN-GGIM): Americas Private Sector Network, a Technical
                | Advisor of the UN-GGIM Americas, Caribbean Project.
                | Valrie Grant holds a BSc. in Geology from the University of West Indies and a MSc. in
                | Geographic Information Systems (GIS) and the Environment from the Manchester Metropolitan
                | University and post graduate certification in Business and Entrepreneurship; and
                | notwithstanding a pressing schedule, is currently reading for an MBA.
                // end of row
            // end of container

