doctype html
html(lang="en")
    head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Valrie Grant is a woman entrepreneur, and respected authority in the field of GIS / geospatial scienes this is her personal profile')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    // GOOGLE SITE VERIFICATION TAG
    meta(name='google-site-verification' content='z1f0tULKmao1CZvDh4m9NXsglh3hEk3-XKtIcNBJK5c')
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css")
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    //- link(href='static/css/themify-icons.css' rel='stylesheet' type='text/css' media='all')
    //- link(href='static/css/flexslider.css' rel='stylesheet' type='text/css' media='all')
    link(href='static/css/lightbox.min.css' rel='stylesheet' type='text/css' media='all')
    //- link(href='static/css/ytplayer.css' rel='stylesheet' type='text/css' media='all')
    //- link(href='static/css/theme.css' rel='stylesheet' type='text/css' media='all')
    link(href='static/css/animate.css' rel='stylesheet' type='text/css' media='all')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800;900&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Pacifico&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/style.comp.css')
    link(rel='shortcut icon' type='image/png' href='static/img/logo-dark.png')
    link(type="text/css" rel="stylesheet" href="wmd.css")
    title Valrie Grant
    include includes/nav.pug
    block content
    include includes/footer.pug