extends layout.pug

block content
    body.about-container
        section.about-page-header.full-grid.background-image3
            h2.h2.h2--light.h2--U.ml-lg
        section.about-page.pd15.full-grid
            button.btn-normal#btn price
