.from__group
  input#Name.form__input(type='text' placeholder='author' name='author')
  label.form__label(for='author') author
.from__group
  input#email.form__input(type='title' name='title' placeholder='title')
  label.form__label(for='title') titile
.from__group.mb-x2
  textarea#mytextarea(name='article' rows="8" cols="40" placeholder='article')
button.btn--pulse.btn--pulse--green.m-r-a(type='submit') post 

